@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#ffffff] text-black;
}

::-moz-selection {
  color: white;
  background: #599ef1;
}

::selection {
  color: white;
  background: #599ef1;
}
